.sidebar a {
    color: #850303;
}

.tag-title a, .archive-title a {
    color: #ffffff;
}

.theme-base .content a,
.theme-base .related-posts li a:hover {
    color: #850303;
}

.menu-container {
    background-color: #9d3535;
}

.tag-title, .archive-title {
    background-color: #9d3535;
}

.fa-tag {
    background-color: #9d3535;
    color: #ffffff;
}

.theme-base a.tag {
    background-color: #9d3535;
    color: #ffffff;
}